<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096742549126-t4u6n856p8tertntuj4r0u3lpcjctq16.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096742549126-t4u6n856p8tertntuj4r0u3lpcjctq16</string>
	<key>API_KEY</key>
	<string>AIzaSyAdP1V2Ztyj8_bOOPKn76JSwBPBlT9dNgE</string>
	<key>GCM_SENDER_ID</key>
	<string>1096742549126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grupoandrade.mobile.condomanager</string>
	<key>PROJECT_ID</key>
	<string>condohuatulco-ad560</string>
	<key>STORAGE_BUCKET</key>
	<string>condohuatulco-ad560.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096742549126:ios:3898a467c42abba3838307</string>
</dict>
</plist>